/* Custom imports */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


/* Custom colors */
:root {
	--background-color: #182547;
	--main-color: #0367A6;
	--main-color-medium: #66A3D9;
	--main-color-light: #B3Cff2;
	--main-color-lighter: #c9dff2;
	--hit-color: #8e0000;
	--hit-color-lighter: #f2505D;
	--title-font: 'Source Sans 3';
}

/**/

body {
	max-width: 100vw;
	padding: 5%;
	margin-top: 10%;
	margin: 0;
	gap: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	font-family: var(--title-font)
}

#header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}


h1 {
	font-family: var(--title-font);
	font-weight: 900;
	color: var(--main-color-lighter);
	font-size: 2vw;
	text-align: center;
	padding: 0;
	margin: 0
}


h2 {
	font-family: var(--title-font);
	font-weight: 700;
	color: var(--main-color-light);
	font-size: 1vw;
	text-align: center;
	padding: 0;
	margin: 0
}

h3 {
	font-weight: 600;
	color: var(--main-color);
	font-size: 1vw;
}

button {
	border-radius: 20px;
	border-style: none;
	background-color: var(--hit-color-lighter);
	padding: 15px;
	font-family: var(--title-font);
	font-size: 15px;
	color: var(--main-color);
}

#boardContainer {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#boardAndShipsContainer {
	display: grid;
	grid-template-columns: 4fr 1.5fr;
	grid-auto-flow: column;
	gap: 5rem;
	grid-row-gap: 0px;

}

#avaliableShipsContainer {
	padding: 2%;
	grid-area: 1 / 2 / 2 / 3;
	display: flex;
	flex-direction: column;
	gap: 20px;
}


.shipContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.shipInfo {
	padding: 10px;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.shipName,
.shipQuantity {
	font-style: italic;
	color: var(--main-color-lighter)
}

.shipQuantity {
	font-weight: 900;
}

.carrier,
.battleship,
.cruiser,
.submarine {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

}

.carrier {
	grid-template-columns: repeat(4, 20px);
}

.battleship {
	grid-template-columns: repeat(3, 20px);
}

.cruiser {
	grid-template-columns: repeat(2, 20px);
}

.submarine {
	grid-template-columns: repeat(1, 20px);
}

.shipCell {
	aspect-ratio: 1;
	border: 1px solid var(--main-color-lighter);
	background-color: var(--main-color-medium);
}



#gameboard {
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	min-width: 30vw;
	padding: 10px;
	grid-area: 1 / 1 / 2 / 2
}

.gameboardGrid>.column>div {
	border: 0.5px dashed var(--main-color-light);
	aspect-ratio: 1;
}

.gameboardGrid {
	grid-area: 2 / 2 / 12 / 12;
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: repeat(10, 0.8fr);
	grid-template-rows: repeat(10, 0.8fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}



#columnNames {
	grid-area: 1 / 1 / 2 / 12;
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#columnNames>.coordsLabel {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
	margin-left: -10px;
}

#rowNames {
	grid-area: 2 / 1 / 12 / 2;
	display: grid;
	grid-template-rows: repeat (10, 0.8fr);
	grid-template-columns: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#rowNames>div,
#columnNames>div {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-color-light);
	font-size: 1rem;
	aspect-ratio: 1;
}


.gameboardGrid>.column>*:hover {
	border: 0.5px dashed var(--hit-color-lighter);
	background-color: var(--main-color);
}

#boardOptions {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

#gameOptions {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

#boardOptions>label {
	color: var(--main-color-light)
}

#startButton {
	width: 8rem;
	padding: 10px;
}

#opponentForm {
	color: var(--main-color-light);
	display: flex;
	align-items: center
}

#opponentText {
	padding: 0;
	margin: 0;
}

.occupied-carrier,
.occupied-battleship,
.occupied-cruiser,
.occupied-submarine {
	background-color: lightgreen;
}

.occupied {
	background-color: lightgreen;
}
